:root {
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #000000;
    --primary-color: #02073e;
    --secundary-color: #0f2137;
    --dark-secundary-color: #3c415c;
    --tertiary-color: #f3f6fb;
    --light-tertiary-color: #343d48;

    --font-family: 'DM Sans', sans-serif;
}